@font-face {
	font-family: 'Joystix';
	src: url(../fonts/joystix_monospace.woff2) format('woff2'),
	url(../fonts/joystix_monospace.woff) format('woff'),
	url(../fonts/joystix_monospace.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}