@keyframes animacao-botao-gamegeek {
	0%,100% {
		box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
	}
	25% {
		box-shadow: 2px 2px 0 #0ff, -2px -2px 0 #f1f;
	}
	50% {
		box-shadow: 2px -2px 0 #0ff, -2px 2px 0 #f1f;
	}
	75% {
		box-shadow: -2px 2px 0 #0ff, 2px -2px 0 #f1f;
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.font-face-gamegeek {
	font-family: 'Joystix', monospace;
	text-transform: uppercase;
	text-decoration: none;
}

.gamegeek-text-effect {
	text-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
}

.gamegeek-button {
	background: #fff;
	border-radius: .5rem;
	font-size: inherit;
	box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f3f;
	border: none;
	&:focus {
		background: #fff;
		border-radius: .5rem;
		font-size: inherit;
		box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f3f;
		border: none;
	}
	&:hover {
		animation: animacao-botao-gamegeek .5s linear infinite;
	}
}

.header-gamegeek {
	box-shadow: 0 0 1rem #333;
}

.navegacao-gamegeek {
	padding: .75rem 0;
	img {
		height: 2.5rem;
	}
	.actions {
		.login {
			margin-right: 1rem;
			text-decoration: none;
		}
	}
}

.navbar-dark {
	.navbar-nav {
		.nav-link {
			color: #fff;
			&:focus {
				color: #fff;
				text-shadow: 1px 1px 0 #0ff, 2px 2px 0 #f1f;
			}
			&:hover {
				color: #fff;
				text-shadow: 1px 1px 0 #0ff, 2px 2px 0 #f1f;
			}
		}
		a {
			transition: text-shadow .3s ease-in-out;
		}
		.active {
			text-shadow: 1px 1px 0 #0ff, 2px 2px 0 #f1f;
		}
	}
	.navbar-toggler {
		background-color: #fff;
		border-color: #fff;
		box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
		&:focus {
			background-color: #fff;
			border-color: #fff;
			box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
		}
		&:hover {
			background-color: #fff;
			border-color: #fff;
			box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
		}
		&:active {
			background-color: #fff;
			border-color: #fff;
			box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
		}
	}
	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}
}

.navbar-text {
	a {
		transition: text-shadow .3s ease-in-out;
	}
	.login {
		&:focus {
			text-shadow: 1px 1px 0 #0ff, 2px 2px 0 #f1f;
		}
		&:hover {
			text-shadow: 1px 1px 0 #0ff, 2px 2px 0 #f1f;
		}
	}
}

.home-section {
	height: 92vh;
	background-image: url("../img/hero_bg.jpg");
	background-size: cover;
	background-attachment: fixed;
	img {
		height: 50vh;
	}
}

.jogos-section {
	background-color: #000;
}

.gamegeek-card {
	border-radius: .5rem;
	transition: box-shadow .3s ease-in-out;
	&:hover {
		box-shadow: -.3rem -.3rem 0 #0ff, .3rem .3rem 0 #f1f;
	}
	.card-img-top {
		border-radius: .5rem .5rem 0 0;
	}
}

.sobre-justified {
	text-align: justify;
}

.redes-sociais {
	background-color: #000;
	padding: .7rem .6rem;
	border-radius: .5rem;
	width: 2.5rem;
	height: 2.5rem;
	font-size: 1.3rem;
	transition: all .5s ease-in-out;
	margin-right: .8rem;
	&:hover {
		box-shadow: -2px -2px 0 #0ff, 2px 2px 0 #f1f;
		text-shadow: 2px 2px 2px #f1f;
	}
}

.modal-content {
	border-radius: .7rem;
}

.modal-header {
	border-top-left-radius: .5rem;
	border-top-right-radius: .5rem;
}

.modal-footer {
	border-bottom-left-radius: .5rem;
	border-bottom-right-radius: .5rem;
}
